footer {
  flex: 0 0 auto;
  margin: auto;


  text-align: center;
  // width: 98.5vw;
  width: 100%;
  min-height: 15rem;
  background-color: var(--clr-main);
  color: #fff;
  font-size: 12px;

  &>.sc-title {
    margin-top: 10rem;
    width: 30%;
    color: white;
    font-family: Times New Roman, Times, serif;

    &>span {
      font-size: 4rem !important;
    }
  }


  &>.partner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem 0;

    .partner-item{
      max-width: 95%;
      max-height: 80vh;
      width: 60rem;
      position: relative;
      overflow: hidden;
      align-self: center;
      &>div {


  
        &>a {
          width: 100%;
          height: 100%;
  
          max-width: 100%;
          max-height: 100%;
          &::after {
            content: '';
            position: absolute;
            top: 30%;
            right: 30%;
            width: 0;
            height: 0;
            z-index: 0;
            border-style: solid;
            border-color: transparent;
            border-width: 10rem 0 10rem 8rem;
            transition: all 1s;
    
          }
    
          &:hover {
            filter: blur(1px) brightness(0.9); 
    
            &::after {
              right: 5%;
              border-left-color: rgba(229, 229, 229, 0.2);
            }
          }
  
          &>img {
            width: 100%;
            height: 100%;
  
            
          }
        }
  
  
      }
    }


  }

  &>.footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #3b486f;

    &>.f-lt {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      &>.sc-title {
        width: 80%;
        color: white;

        &>span {
          font-size: 10rem !important;
        }

      }

    }

    &>.f-rt {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 4rem;
      font-size: 15px;

      &>li {
        list-style-type: none;
        border-left: 2px solid white;
        padding: 0.5rem 0 0.5rem 5rem;
      }
    }

  }

  &>.addr {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &>li {
      width: 10%;
      list-style-type: none;
    }
  }


}